.nav-bar {
  z-index: 10;
  position: sticky;
  top: 0;
  height: 100px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  color: azure;
  background-color: #121212;
}

.user-info {
  display: flex;
  flex-direction: row;
  gap: 7px;
  margin-left: 1rem;
  align-items: center;
  cursor: pointer;
  color: #c3b5fd;
  font-size: 1.2rem;
}

#image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#image-container img {
  background-size: contain;
  overflow: hidden;
  border-radius: 50%;
  height: 3rem;
  aspect-ratio: 1;
  border: 1px solid #c3b5fd;
  box-shadow: 1px 1px 5px #8d45ce4d;
}

/* .user-info { */
/*   display: flex; */
/*   flex-direction: row; */
/*   gap: 7px; */
/*   margin-left: 1rem; */
/*   align-items: center; */
/* } */

/* #image-container { */
/*   display: flex; */
/*   align-items: center; */
/*   justify-content: center; */
/* } */

/* #image-container img { */
/*   background-size: contain; */
/*   overflow: hidden; */
/*   border-radius: 50%; */
/*   height: 3rem; */
/*   aspect-ratio: 1; */
/*   border: 1px solid #8d45ce; */
/*   box-shadow: 1px 1px 5px #8d45ce4d; */
/* } */

#title {
  clear: both;
  /* margin-left: auto; */
  padding-left:1rem;
  padding-right:1rem;
  /* margin-right: auto; */
  color: #c3b5fd;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: 0 0 5px #8d45cecd;
}

#title:hover {
  color: #8d45ce;
  /* transform: scale(1.05); */
  cursor: pointer;
}

.buttons {
  margin-right: 1rem;
}

.buttons button {
  background-color: #08101c;
  width: 2rem;
  height: 2rem;
  outline: none;
  box-shadow: none;
  border: none;
  /* margin-inline: 0.2rem; */
  color: #c3b5fd;
  cursor: pointer;
}

.buttons button:hover {
  transform: scale(1.2);
  color: #8d45ce;
}

#profile-button {
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  color: #c3b5fd;
  cursor: pointer;
}

#profile-button:hover {
  transform: scale(1.1);
  color: #8d45ce;
}

@media screen and (width <= 600px) {
  #title {
    width: 0;
    opacity: 0;
  }
}
