<div class="nav-bar" #navbar>
  <div class="user-info" (click)="goToProfile()">
    <div id="image-container">
      <img [src]="avatar$ | async" alt="profile picture" />
    </div>
    <button *ngIf="user$ | async as user" aria-hidden="false" aria-label="user profile" id="profile-button">{{ user.name
      }}</button>
  </div>
  <div id="title" (click)="move('home')">THE PRODUCT WAREHOUSE</div>
  <div class="buttons">
    <!-- fix the location and buttons to be conditional  -->
    <button class="dashboard" *ngIf="!home" (click)="move('home')">
      <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="home"></mat-icon>
    </button>
    <button class="dashboard" *ngIf="!dash" (click)="move('dashboard')">
      <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="apps"></mat-icon>
    </button>
    <button class="logout" (click)="logout()">
      <mat-icon aria-hidden="false" aria-label="logout icon" fontIcon="logout"></mat-icon>
    </button>
  </div>
</div>
