.card-container {
  display: flex;
  width: 30vw;
  height: 20vw;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.picture-container {
  width: 100vw;
  height: auto;
  aspect-ratio: 1/3;
}

.product-image {
  width: auto;
  height: auto;
}

.product-title {
  margin: 1rem;
}

.product-body {
  margin: 1rem;
}

.product-quantity {
  font-size: 1.5rem;
}
