<div class="card-container">
  <div class="picture-container">
    <img
      [src]="imageSrc ? imageSrc : '../../assets/images/placeholder.png'"
      alt=""
      class="product-image"
    />
  </div>
  <div class="body-container">
    <h3 class="product-title">{{ product.name }}</h3>
    <!-- <div class="product-body">{{ product.description }}</div> -->
    <div class="product-price">${{ product.price }}</div>
    <div class="product-quantity">items left: {{ product.quantity }}</div>
    <!-- <div class="owner">{{ owner }}</div> -->
    <div class="product-footer">
      <button id="buy-button">BUY</button>
    </div>
  </div>
</div>

<!-- <div class="card-container"> -->
<!--   <div class="picture-container"> -->
<!--     <img src="placeholder.png" alt="" class="product-image" /> -->
<!--     <div class="body-container"> -->
<!--       <h3 class="product-title">productName</h3> -->
<!--       <div class="product-body"> -->
<!--         <p class="product-description"> -->
<!--           desciption lorem larum asdddd kakakkaa lalalallala oioioi palal paka -->
<!--           oke oike kakakakakka ooi -->
<!--         </p> -->
<!--         <p class="product-price">45$</p> -->
<!--         <p class="product-quantity">items left: 133</p> -->
<!--         <div class="footer"><button class="buy-button">BUY</button></div> -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->
