.card-container {
  width: 30vw;
  padding: 10px;
  margin: 10px;
  background-color: #08101c;
  color: azure;
  box-shadow: 2px 0 10px #a449c933;
}

.picture-container {
  position: relative;
  height: 30%;
}

.body-container {
  padding: 10px;
  background-color: #08101c;
}

.product-body {
  background-color: #08101c;
}

.product-image {
  width: 100%;
  height: auto;
  aspect-ratio: 2/1;
  object-fit: cover;
  object-position: center center;
  overflow: hidden;
  background-color: #08101c;
}

.product-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  background-color: #08101c;
}

.product-description {
  background-color: #08101c;
}

.product-price {
  margin-top: 1rem;
  float: right;
  background-color: #08101c;
}

.product-quantity {
  margin-top: 2rem;
  font-size: 1rem;
  background-color: #08101c;
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  background-color: #08101c;
}

.buy-button {
  padding: 5px 10px;
  font-size: 1rem;
  background-color: #bf72fc;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: none;
}
