.order-container {
  margin: 1rem 1rem 0.5rem;
  height: 5rem;
  position: relative;
  width: 80vw;
  border: 1px solid #ffffff4d;
  border-radius: 10px;
  padding: 5px;
}

.order-container:hover, .order-container:active {
  border: 1px solid #c185fb;
  /* transform: scale(1.0); */
  box-shadow: 0 0 10px #c185fb;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-end;
}

.body {
  margin-left: 1rem;
  padding-top: 10px;
}

#remove-button {
  position: absolute;
  bottom: 10px;
  background-color: transparent;
  outline: none;
  border: none;
  box-shadow: none;
}

#remove-button:hover, #remove-button:active {
  transform: scale(1.1);
  color: #ff0079;
  cursor: pointer;
  text-shadow: 0 0 5px #ff007980;
}

@media screen and (width >= 700px) {
  .order-container {
    width: 45vw;
  }
}


@media screen and (width >= 1100px) {
  .order-container {
    width: 30vw;
  }
}

@media screen and (width <= 500px) {
  .order-container {
    width: calc(100vw - 40px);
  }
}
