<div class="order-container">
  <div class="header">
    {{ card.product.name }}
  </div>
  <div class="body">
    <ng-container *ngIf="shopcart">
      quantity:
      <input type="number" [(ngModel)]="card.quantity" (change)="updateQuantity()" min="1" [max]="max" />
    </ng-container>
    <ng-container *ngIf="!shopcart">
      quantity: {{ card.quantity }}
    </ng-container>
  </div>
  <div class="footer">
    <div class="buttons">
      <button id="remove-button" (click)="removeItem()">
        <mat-icon aria-hidden="false" aria-label="remove icon" fontIcon="delete" matTooltip="Remove item"></mat-icon>
      </button>
    </div>
  </div>
</div>
