@import "primeflex/primeflex.css";
@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
  /* font-family: var(--font-family); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #0e0f0f; */
  font-family: Roboto, sans-serif;
  user-select: none;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  word-wrap: break-word;
}

.close-button {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #08101c;
  color: #c3b5fd;
  border: 1px solid #c3b5fd;
  box-shadow: none;
  outline: none;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 12;
}

.blur-filter {
  /* opacity: 0.5; */
  background-color: #000;
  filter: blur(20), brightness(0.7);
  /* backdrop-filter: blur(10px), brightness(0.7); */
  z-index: 10;
}

.close-button:hover {
  box-shadow: 0 0 5px #c3b5fd;
  transform: scale(1.1);
}
