@import url("primeflex/primeflex.css");

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #0e0f0f; */
  font-family: Roboto, sans-serif;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  word-wrap: break-word;
}
