.modal-container {
  position: relative;
  display: flex;
  width: 80vw;
  height: 70vh;
  margin-left: 10vw;
  margin-top: 15vh;
  z-index: 6;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid purple;
}

.product-details-body {
  width: 90%;
  text-align: left;
  margin-top: 2rem;
}

.product-details-body p {
  margin: 1rem;
}

.product-details-body h3 {
  margin: 1rem;
}

#price {
  text-align: right;
}
