<div class="modal-container">
  <button class="close-button" (click)="hideModal()">X</button>
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="Info">
      <ng-template matTabContent>
        <div class="product-tab-container">
          <div class="product-image-container">
            <!-- new approach -->
            <!-- <ng-container *ngIf="images"> -->
            <!--   <app-media-gallery [images]="images"> -->
            <!--   </app-media-gallery> -->
            <!-- </ng-container> -->

            <ng-container *ngIf="!picture">
              <img [src]="placeholder" alt="" class="product-modal-image" />
            </ng-container>
            <ng-container *ngIf="picture">
              <img [src]="picture" alt="product picture" class="product-modal-image" />
            </ng-container>
          </div>
          <div class="product-details-body">
            <h3 id="product-name">{{ product.name }}</h3>
            <p id="product-description">{{ product.description }}</p>
            <p id="product-price">${{ product.price }}</p>
            <p>items left: <span id="quantity">{{ product.quantity }}</span></p>
            <div class="owner-info">
              <div *ngIf="user?.id !== owner.id">
                <h3>Owner details:</h3>
                <p id="owner-name">name: {{ owner.name == user?.name ? "you" : owner.name }}</p>
                <p id="owner-email">email: {{ owner.email }}</p>
              </div>
              <div *ngIf="user?.id === owner.id">
                <h3>You own this product</h3>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Edit" *ngIf="user?.id === product.userId">
      <ng-template matTabContent>
        <div class="edit-product-container">
          <div class="created" *ngIf="requestSent">{{ productResult }}</div>

          <form [formGroup]="productForm" ngSubmit="onSubmit()" (input)="onValidate()">
            <label for="product-name" class="block text-900 font-medium mb-2">Product name</label>
            <input id="product-name" type="text" [placeholder]="product ? product.name : 'Product name'" pInputText
              class="w-full mb-3" name="product-name" formControlName="name" />

            <label for="product-description" class="block text-900 font-medium mb-2">Description</label>
            <textarea class="description-textarea" rows="5" maxlength="300" formControlName="description"
              name="description" [placeholder]="product.description" pInputTextarea></textarea>

            <div class="flex-auto">
              <label for="product-price" class="block text-900 font-medium mb-2">Price</label>
              <p-inputNumber mode="currency" currency="USD" locale="en-US" id="product-price" class="mb-3"
                name="product-price" formControlName="price"></p-inputNumber>
            </div>

            <label for="product-quantity" class="block text-900 font-medium mb-2">Quantity</label>
            <p-inputNumber id="product-quantity" value="product.price" class="mb-3" name="product-quantity"
              formControlName="quantity"></p-inputNumber>
            <!-- <div class="flex align-items-center justify-content-between mb-6"> -->
            <div class="upload-container">
              <label for="image" class="block text-900 font-medium mb-2">Add an image?</label>
              <!-- <input #imageUpload type="file" name="image" id="upload-product-image" (change)="onFileSelected($event)" -->
              <p-fileUpload mode="basic" #imageUpload chooseLabel="Choose" id="image" accept="image/*"
                (onSelect)="onFileSelected($event)" class="w-full half"></p-fileUpload>
              <!--   accept="image/*" /> -->
            </div>

            <button type="submit" id="submit-button" [disabled]="!formValid" pButton pRipple label="Submit"
              icon="pi pi-user" (click)="submitProduct()" class="w-full"></button>
          </form>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Delete" *ngIf="user?.id === product.userId">
      <ng-template matTabContent>
        <div class="delete-container">
          <button *ngIf="!confirm" id="delete-button" pButton pRipple label="Delete product?"
            (click)="openConfirm()"></button>
          <div class="confirm-text" *ngIf="confirm">
            <p>Are you sure?</p>
          </div>
          <div class="button-container">
            <button *ngIf="confirm" class="confirm-button" pButton pRiple label="Yes"
              (click)="deleteProduct(product.id!)"></button>
            <button *ngIf="confirm" class="confirm-button" pButton pRiple label="No" (click)="closeConfirm()"
              id="no-button"></button>
          </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
<dialog #confirmDelete>
  <div class="confirm-container">
    <button class="confirm-button" pButton pRiple label="Yes" (click)="deleteProduct(product.id!)"></button>
    <button class="confirm-button" pButton pRiple label="No" (click)="closeConfirm()"></button>
  </div>
</dialog>
