.modal-container {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 6;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid purple;
  background-color: #08101c;
}

.product-image-container {
  position: relative;
  height: 30%;
}

.product-modal-image {
  width: 100%;
  height: auto;
  aspect-ratio: 2/1;
  object-fit: cover;
  object-position: center center;
  overflow: hidden;
}

.product-details-body {
  width: 90%;
  text-align: left;
  margin-top: 2rem;
}

.product-details-body p {
  margin: 1rem;
}

.product-details-body h3 {
  margin: 1rem;
}

#price {
  text-align: right;
}
