/* .product-container { */
/*   margin-top: 200px; */
/* } */

.wrapper {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  justify-content: center;
}

/* .footer button { */
/*   justify-content: center; */
/* } */

/* .footer { */
/*   position: absolute; */
/*   bottom: 1rem; */
/*   display: flex; */
/*   flex-direction: row; */
/*   gap: 1rem; */
/*   width: 100vw; */
/*   justify-content: center; */
/* } */
