.dashboard-container {
  display: flex;
  /* flex-flow: row wrap; */
  flex-flow: column wrap;
  height: calc(100vh - 100px);
  width: 100vw;
}

.top-bar {
  position: sticky;
  height: 3rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 10;
  top: 100px;
}

.add-product {
  width: max-content;
  height: 2rem;
  padding: 0.5rem;
  margin-right: 1.5rem;
  margin-top: -1rem;
}

dialog {
  display: flex;
  width: 90vw;
  height: 80vh;
  position: absolute;
  margin-left: 3.5vw;
  top: calc(10vw + 100px);
  z-index: 15;
  border: none;
}

.wrapper {
  padding-top: 10px;
  display: flex;
  flex-wrap: column-wrap;
  justify-content: center;
}
