<div class="total-amount-div">
  <h3>{{ '$' + totalAmount }}</h3>
  <p>TOTAL</p>
</div>
<div class="search-container">
  <div class="search-bar">
    <button (click)="reset()" class="search-button">
      <mat-icon aria-hidden="false" aria-label="reset icon" fontIcon="refresh" matTooltip="Reset"></mat-icon>
    </button>
    <input type="text" name="oder-search" id="search-field" [(ngModel)]="searchTerm" maxlength="100"
      (ngModelChange)="searchTermSource.next(searchTerm)" placeholder="Search orders..">
  </div>
</div>
<div class="dashboard-container">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" #tabGroup
    (selectedTabChange)="changeFilter($event.tab.textLabel.toUpperCase())">
    <mat-tab label="Pending">
      <ng-template matTabContent>
        <ng-container *ngIf="pendingEmpty">
          <div class="empty">
            <h2>No pending orders</h2>
          </div>
        </ng-container>
        <ng-container *ngFor="let card of pendingOrders$ | async; trackBy:trackById">
          <app-order-card [card]="card" [filter]="filterType" [user]="currentUser"></app-order-card>
        </ng-container>
      </ng-template>
    </mat-tab>
    <mat-tab label="Confirmed">
      <ng-template matTabContent>
        <ng-container *ngIf="confirmedEmpty">
          <div class="empty">
            <h2>No confirmed orders</h2>
          </div>
        </ng-container>
        <ng-container *ngFor="let card of confirmedOrders$ | async; trackBy:trackById">
          <app-order-card [card]="card" [filter]="filterType" [user]="currentUser"></app-order-card>
        </ng-container>
      </ng-template>
    </mat-tab>
    <mat-tab label="Cancelled">
      <ng-template matTabContent>
        <ng-container *ngIf="cancelledEmpty">
          <div class="empty">
            <h2>No cancelled orders</h2>
          </div>
        </ng-container>
        <ng-container *ngFor="let card of cancelledOrders$ | async; trackBy:trackById">
          <app-order-card [card]="card" [filter]="filterType" [user]="currentUser"></app-order-card>
        </ng-container>
      </ng-template>
    </mat-tab>
    <mat-tab label="Best Products">
      <ng-template matTabContent>
        <ng-container *ngIf="cancelledEmpty">
          <div class="empty">
            <h2>No bought products</h2>
          </div>
        </ng-container>
        <ng-container *ngFor="let card of aggregatedProducts$ | async">
          <app-order-card [filter]="filterType" [user]="currentUser" [aggregatedProduct]="card"></app-order-card>
        </ng-container>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
