.add-product-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #08101c;
  flex-direction: column;
  border: 1px solid #002d56;
  border-radius: 10px;
  position: absolute;
  top: -100px;
  max-height: 750px;
}

.upload-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.upload-container button {
  margin-bottom: 1.5rem;
}

#upload-product-image {
  margin-bottom: 1rem;
}

.description-textarea {
  width: 100%;
  color: azure;
  background-color: #040e19;
  border: 1px solid #002d56;
  resize: none;
  padding: 7px;
  border-radius: 5px;
  font-size: 1rem;
}

.description-textarea::placeholder{
  font-size: 1rem;
  padding-left: 0.4rem;
  padding-top: 0.4rem;
}

#file-upload {
  margin-bottom: 1rem;
}
