.add-product-container {
  height: 80vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #08101c;
  flex-direction: column;
  border: 1px solid #002d56;
  border-radius: 10px;
}

.upload-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.upload-container button {
  margin-bottom: 1.5rem;
}

#upload-product-image {
  margin-bottom: 1rem;
}
