.add-product-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #08101c;
  flex-direction: column;
  border: 1px solid #002d56;
  border-radius: 10px;
  position: absolute;
  /* left: 3vh; */
  top: -100px;
}

.upload-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.upload-container button {
  margin-bottom: 1.5rem;
}

#upload-product-image {
  margin-bottom: 1rem;
}

.description-textarea {
  width: 100%;
  color: azure;
  background-color: #040e19;
  border: 1px solid #002d56;
  resize: none;
  padding: 7px;
  border-radius: 5px;
  font-size: 1rem;
}

.description-textarea::placeholder{
  font-size: 1rem;
  padding-left: 0.4rem;
  padding-top: 0.4rem;
}

/* .description-textarea:focus, .description-textarea:active, .description-textarea:hover { */
/*   border: 1px solid #002d56; */
/*   outline: 1px solid #002d56; */
/* } */

#file-upload {
  margin-bottom: 1rem;
}

/* @media screen and (width >= 700px){ */
/*   .add-product-container { */
/*     width: 60vw; */
/*     left: 20vw; */
/*   } */
/* } */

/* @media screen and (width < 500px){ */
/*   .add-product-container { */
/*     width: 100vw; */
/*     height: 100vh; */
/*     top: 0; */
/*     left: 0; */
/*   } */
/* } */

/* @media screen and (height < 800px){ */
/*   .add-product-container { */
/*     top: 0; */
/*   } */
/* } */
