<div class="container">
  <p *ngIf="response?.name">{{ response.name }}</p>
  <p *ngIf="response?.email">{{ response.email }}</p>
  <p *ngIf="response?.role">{{ response.role }}</p>
  <p *ngIf="response?.id">{{ response.id }}</p>
  <p *ngIf="response?.message">{{ response.message }}</p>
  <button pButton pRipple icon="pi pi-user" class="w-5 justify-content-center" (click)="goBack()" >BACK</button>
  <button pButton pRipple icon="pi pi-user" class="w-5 justify-content-center" (click)="showUsers()" >USERS</button>
</div>
