.wrapper {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-bar {
  z-index: 10;
  position: sticky;
  top: 0;
  height: 100px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: azure;
  background-color: #08101c;
  box-shadow: 2px 0 10px #a449c933;
}

#title {
  margin-left: auto;
  margin-right: auto;
}

.buttons {
  position: absolute;
  right: 2rem;
}

.buttons button {
  background-color: #bf72fc;
  width: 3rem;
  height: 2rem;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: none;
}
